.material-icons.color_orange {
  color: orange;
}

.card .card-header {
  background-color: #9966ff;
  border-color: #9966ff;
}

.mat-icon.badgePosition {
  margin-bottom: -17px;
  margin-left: -3px;
}

.list-group-item.right-arrow:before {
  content: "\25BA";
}
