#news{
    margin-top:70px;
}

#exp {
    color:red;
    margin-left: 980px;
}
#icon{
    color:orange; 
}

.card .card-header {
    background-color: grey; 
    border-color: grey;
  }

  .list-group-item.right-arrow:before {
    content:'\25BA';
}
