
<div id="services" class="row">
        <div class="col-lg-3 col-md-4">
                <app-command-activity ></app-command-activity>
            </div>
        
            <div class="col-lg-3 col-md-4">
                    <app-commands-view ></app-commands-view>
                </div>
            
                <div class="col-lg-3 col-md-4">
                    <app-alerts></app-alerts>
                </div>
         
                <div class="col-lg-3 col-md-4">
                    <app-reports></app-reports>
                </div> 
        
            <div class="col-md-12">
                <app-news></app-news>
            </div>
</div>