.material-icons.color_orange { color: orange; }

.card .card-header {
    background-color: #33ccff; 
    border-color: #33ccff;
  }

  .list-group-item.right-arrow:before {
    content:'\25BA';
}

.pt{
  cursor: pointer;
}