<div class="card" style="width: 100%;">
  <div class="card-header bg-primary">
      <mat-icon class="material-icons color_orange" color="warn" >shopping_basket</mat-icon> &nbsp; &nbsp; Mes Commandes
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item right-arrow"> <a routerLink='/listCommande/tous'> Toutes</a></li>
    <li class="list-group-item right-arrow"><a routerLink='/listCommande/enattente'> préparation</a></li>
    <li class="list-group-item right-arrow"><a routerLink='/listCommande/encours'> En cours</a></li>
    <li class="list-group-item right-arrow"><a routerLink='/listCommande/termine'> Terminées</a></li>
  </ul>
</div>